*{
    margin: 0;
    padding: 0;
}

/* Create a header design */
.header{
    background: royalblue;
    height: 65px;
}

.header p{
    color: white;
    font-size: 19px;
    padding-left: 15%;
    padding-top: 20px;
    font-weight: bold;
}

.header a{
    color: lightcyan;
    text-decoration: none;
    font-weight: 400;
}

/* Create a header text design */
.header-text{
    display: flex;
    background-color: honeydew;
    height: 100px;
}

.header-text .colorib h1{
    font-size: 50px;
    font-weight: 500;
    padding-left: 100%;
    padding-top: 8px;
}

.header-text .colorib span{
    color: green;
    font-size: 60px;
}

.header-text .navbar{
    padding-left: 17%;
    margin-top: 40px;
    
}
.header-text .navbar a{
    margin: 0px 15px;
    font-size: 18px;
    text-decoration: none;
    color: grey;
}

.header-text .navbar a:hover{
    color: royalblue;
}



/* Website design ko create ker rehe hain */
.website-design{
    background: lightgrey;
    height:100px;
    display: flex;
    justify-content: space-between;
}

.website-design .heading{
    font-size: 30px;
    padding-top: 27px;
    padding-left: 14%;
}


.website-design .Anchor{
    color: brown;
    font-size: 18px;
    padding-top: 36px;
    padding-left: 20%;
    margin-right: 180px;
}


.website-design a{
    text-decoration: none;
    color: grey;
}

.website-design a:hover{
    text-decoration: underline;
}





/* Create a note form information in this website */
.please{
    margin-left: 130px;
    float: left;
    margin-top: 90px;
    width: 800px;
}

.please .heading1{
    font-size: 30px;
}

.please .head1 h1{
    font-size: 20px;
    width: 740px;
}
.please .head1 .head0{
    color: royalblue;
    margin-bottom: 35px;
}

.labell label{
    font-size: 20px;
}

.labell input{
    width: 400px;
    height: 34px;
    margin-bottom: 18px;
}


.label3 label{
    font-size: 18px;
    font-weight: bold;
}

.label3 label a{
    text-decoration: none;
    color: royalblue;
}

.label3 label a:hover{
    text-decoration: underline;
}

.attach{
    margin-top: 28px;
    margin-bottom: 200px;
}

.attach p{
    font-size: 19px;
}

.attach input{
    margin-top: 10px;
    font-size: 17px;
}

.attach button{
    background: royalblue;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}




/* Create a side bar in this website */
.sidebar{
    float: left;
    margin-top: 90px;
}

.side1 h3{
    margin-bottom: 20px;
    font-size: 21px;
}

.sidebar .img img{
    width: 300px;
    height: 330px;
}

.sidebar .img .img1{
    margin-bottom: 40px;
}


.sidebar .img .img2{
    margin-bottom: 200px;
}


/* Create a colorib anchor in side bar in this website */
.colorib-theme h3{
    margin-bottom: 20px;
    font-size: 23px;
}

.colorib-anchor a{
    margin-bottom: 100px;
    color: royalblue;
    text-decoration: none;
    font-size: 19px;
}
.colorib-anchor a:hover{
    text-decoration: underline;
    color: royalblue;
}

.colorib-anchor .width{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-top: 10px;
}


.contain1{
    clear: both;
}

.contain1{
    margin-left: 140px;
    font-size: 19px;
    background-color: #ECEEF4;
    margin-left: 0px;
    padding-left: 140px;
    height: 120px;
    display: flex;
}

.contain1 .header1{   
    font-size: 23px;
    padding-top: 50px;
    margin-right: 230px;
}

.contain1 .buton{
    padding-top: 31px;
    
}

.contain1 .buton button{
    background-color: #1A3696;
    padding: 20px 40px;
    color: white;
    border: none;
    font-size: 20px;
}


.footer{
    background-color: #2C2E32;
    display: flex;
    height: 400px;
}

.footer1{
    padding-left: 140px;
    padding-right: 130px;
}

.footer h2{
    color: white;
    font-size: 50px;
    padding-top: 30px;
}

.footer h2 span{
    color: green;
}

.footer .footer11{
    padding-bottom: 10px;
    color: lightgray;
    font-size: 19px;
}

.footer .footer111{
    padding-bottom: 30px;
}

.footer2{
    padding-top: 40px;
    width: 160px;   
}

.footer2 a{
    color: lightgray;
    font-size: 18px;
    line-height: 29px;
    text-decoration: none;
}

.footer2 a:hover{
    color: white;
}

.last-footer{
    background: #18191B;
    color: #A5A9B1;
    height: 60px;
}

.last-footer p{
    text-align: center;
    padding-top: 20px;
}